# --- LaTeX (Archivos auxiliares) ---
*.aux
*.fdb_latexmk
*.fls
*.gz
*.log
*.out
*.toc
*.pdf
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv
*.synctex.gz

# --- Node.js & Web ---
node_modules/
dist/
build/
.npm
package-lock.json
yarn.lock

# --- Configuration & Secrets ---
.env
.env.*
*.yaml
*.yml

# --- System & Editors ---
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*~